@import "tailwindcss";

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

:root {
  --bg-image: url("./assets/bg-light.png");

  --label: rgba(0, 0, 0, 0.6);
  --muted: rgba(0, 0, 0, 0.6);
  --input: rgba(255, 255, 255, 0.2);
  --input-border: rgba(255, 255, 255, 0.5);
  --card: rgba(255, 255, 255, 0.2);
  --card-border: rgba(255, 255, 255, 0.5);

  --text: #000000;
  --text-h: #000000;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #7c3aed;
  --accent-hover: #6d28d9;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

[data-theme="dark"] {
  --bg-image: url("./assets/bg-dark.png");

  --label: rgba(255, 255, 255, 0.6);
  --muted: rgba(255, 255, 255, 0.6);
  --input: rgba(255, 255, 255, 0.2);
  --input-border: rgba(255, 255, 255, 0.5);
  --card: rgba(255, 255, 255, 0.2);
  --card-border: rgba(255, 255, 255, 0.5);

  --text: #ffffff;
  --text-h: #ffffff;
  --bg: #000000;
  --border: #e5e4e7;
  --accent: #5a43c9;
  --accent-hover: #6b54d8;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

@theme inline {
  --color-heading: var(--text-h);
  --color-label: var(--label);
  --color-muted: var(--muted);
  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-card: var(--card);
  --color-card-border: var(--card-border);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-text-muted: var(--muted);
}

@layer base {
  /* #root {
    width: 1126px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border-inline: 1px solid var(--border);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  } */

  html {
    color-scheme: light dark;
  }

  [data-theme="dark"] {
    color-scheme: dark;
  }

  body {
    margin: 0;
    min-height: 100dvh;
    color: var(--text);
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  h1,
  h2 {
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-h);
  }

  h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    margin: 32px 0;
    @media (max-width: 1024px) {
      font-size: 36px;
      margin: 20px 0;
    }
  }
  h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }
  p {
    margin: 0;
  }
}
